form {
    @extend .default;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    input, textarea, button {
        @extend .mainFont;
        font-size: 1rem;
        outline: none;
        border: solid $offBlack .1rem;
        background: none;
        border-radius: .65rem;
        padding: .25rem .5rem;
        margin: .5rem 0;
        color: $offBlack;
    }
    input {
        box-sizing: border-box;
        display: inline-block;
        width: 45%;        
    }

    textarea {
        width: 100%;
        resize: none;
        height: 7.5rem;
    }

    label { display: none; }
    
    input:focus, textarea:focus 
        { border-color: $primPink; }

    button {
        @extend .mainCapsFont;
        margin: 0 0 0 auto;
        padding: .75rem;
        height: auto;

    
        h1 {
            font-weight: 200;
        }
    }
}