@import "utility.scss";
@import "colors.scss";
@import "fonts.scss";

#siteNav {    
    @extend .default;
    position: fixed;
    top: 0;

    max-width: 100vw !important;
    width: 100% !important;
    height: $headerHeight;

    z-index: 1001;
    background-color: white;
    box-shadow: 0 0 .15rem 0rem #0E0E0E;

    ul {
        @extend .default;
        
        max-width: 800px;
        box-sizing: border-box;
        margin: auto;
        padding-right: 3rem;
        padding-left: 3rem;

        display: flex;
        justify-content: space-around;
        flex-direction: row;

        img {
            max-height: 2.5rem;
            margin-top: .3525rem;
        }

        li {
            a {
                text-decoration: none;
                color: black;
                @extend .mainCapsFont;

                // h3 {@extend .mainCapsFont; }
            }
        }
    }
}