// html, body, #viewDiv {
//     padding: 0;
//     margin: 0;
//     height: 100vh;
//     width: 100%;
// }
@import "common/colors.scss";
@import "common/utility.scss";

.esri-ui { display: none !important;}

body { @extend .default; }

#pickYouPassionWrap {
    background-color: white;

    #pickYourPassionNav {
        box-sizing: border-box;

        width: 100%;
        margin: auto;
        padding: 0 10% 5rem 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
            margin: 5% 2.5% 0 2.5%;
            width: 20%;
            height: 11.5rem;
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-decoration: none;
            cursor: pointer;

            :hover {
                button {
                    background-color: $primPink;
                }
            }
    
            img {

                // height: 7rem;
                max-width: 100%;
                width: auto;
                height: auto;
                max-height: 7rem;
            }
            
            
            button {
                font-size: 1rem; 
                text-transform: none;
                min-height: 3.5rem;
                
            }
        }
        
        div:hover {
            button {
                background-color: $primPink;
                color: #1E1E1E;
            }

            margin: 5% .5% 0 .5%;
            width: 24%;
            height: 12rem;
            img {
                max-width: 125%;
                max-height: 8rem;
            }
        }
    
    }
    #passionContainer {
        display: block;
        position: relative;

        width: 100%;
        height: 75vh;

        transition: height .75s;

        //Map Nav styling in ./mapNav.scss
        #mapWrap {
            position: absolute;

            width: 100%; 
            height: 100%;
            
        }

        .leaflet-control-container 
            { display: none; }
    }


    .border {
        width: 100%;
        height: 3.5% !important;
        background-color: white;
        z-index: 1001;

        position: absolute;
        left: 0;
    }

    #topPassionBorder { top: 0; left: 0;}
    
    #bottomPassionBorder { 
        top: 96.5%; 
        left: 0;
        position: relative; 

        
        aside {
            float: right;

            @extend .mainFont;
            user-select: none;
            
            color: black;
            margin-right: .5rem;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            

            p {
                margin: 0;
                padding: 0;
                
                a {
                    margin-left: .25rem;
                    color: $primPink;
                    text-decoration: none;
                }
            }
        }
    }
}

.onMap {
    height: calc(100vh-3.25rem) !important;
}

// #contentWrap {
//     width: 40%;
//     height: 100%;
//     overflow-y: hidden;
//     // margin-top: $headerHeight - .3rem;
//     box-sizing: border-box;
    
//     position: absolute;
//     top: 0;

    
// }